/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 22px;
  font-family: 'Kazesawa-Light';
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: lighten($text-color, 30%);
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  text-align: center;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}


.hero {
  text-align: center;
  font-size: 1.2em;

  h2 {
    &:after {
      border-bottom: 2px solid rgba($text-color, .8);
      content: '';
      width: 3em;
      display: block;
      margin: 0 auto;
      padding-bottom: .2em;
    }
  }

  h3 {
    &:before {
      border-top: 1px solid rgba($text-color, .7);
      content: '';
      width: 3em;
      display: block;
      margin: 0 auto;
      padding-bottom: .2em;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;

    font-family: 'Kazesawa-Extrabold';
    font-size: 1.2em;
  }
}

.logo {
  transition: opacity .3s ease 0s, transform .4s ease-out 0s, box-shadow .4s ease-out 0s;

  &:hover {
    opacity: .8;
    transform: scale(.99, .99);
    box-shadow: 0 0 3px rgba(0,0,0,.5) inset;
  }

  &:active {
    transform: scale(.98, .98);
    box-shadow: 0 0 7px rgba(0,0,0,.7) inset;
  }
}

.sparse {
  letter-spacing: 2px;
}


.hero + .hero {
  margin-top: 4em;

  @include media-query($on-palm) {
    margin-top: 2em;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
